In [1]:
# Download the dataset and import it into Python
import xlrd
import pandas as pd
import numpy as np

# pd.set_option('display.max_rows', None)

shark_attacks_df = pd.read_excel('GSAF5.xls')
display(shark_attacks_df.head())

# shark_attacks_df.rename(columns='Species':'species')
display(shark_attacks_df.columns)

# Cleaning DataFrame
#Chose the columns we will be working with
shark_attacks_df = shark_attacks_df[['Date', 'Year', 'Type', 'Country', 'State', 'Location','Activity','Sex', 'Age', 'Injury','Time','Species ']] 
display(shark_attacks_df)

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,14 Feb-2024,2024.0,Unprovoked,INDIA,Maharashtra,"Vaitarna River, Palghar District",Fishing,Vicky Suresh Govari,M,32,...,"Bull shark, 7'","Times of India, 2/14/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,04-Feb-2024,2024.0,Provoked,TRINIDAD,NaN,NaN,Spearfishing,male,M,NaN,...,Blacktip reef shark,"Trinidad Guardian, 2/11/2014",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,29 Jan-2024,2024.0,Unprovoked,AUSTRALIA,New South Wales,"Elizabeth Bay, Sydney Harbor",Swimming,Lauren O'Neill,F,29,...,Bull shark,"Nine News, 12/31/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,15 Jan-2024,2024.0,Unprovoked,BAHAMAS,Paradise Island,Paradise Island Resort,Swimming,male,M,10,...,NaN,"Caribbean Loop News, 1/15;2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,09-Jan-2024,2024.0,Unprovoked,AUSTRALIA,South Australia,"Walkers Beach, Elliston",Surfing,Murray Adams,M,64,...,White shark,"A. Currie, GSAF",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Unnamed: 11', 'Time', 'Species ',
       'Source', 'pdf', 'href formula', 'href', 'Case Number', 'Case Number.1',
       'original order', 'Unnamed: 21', 'Unnamed: 22'],
      dtype='object')

,Date,Year,Type,Country,State,Location,Activity,Sex,Age,Injury,Time,Species
0,14 Feb-2024,2024.0,Unprovoked,INDIA,Maharashtra,"Vaitarna River, Palghar District",Fishing,M,32,Calf of lower left leg injured,NaN,"Bull shark, 7'"
1,04-Feb-2024,2024.0,Provoked,TRINIDAD,NaN,NaN,Spearfishing,M,NaN,Shoulder bitten,06h30,Blacktip reef shark
2,29 Jan-2024,2024.0,Unprovoked,AUSTRALIA,New South Wales,"Elizabeth Bay, Sydney Harbor",Swimming,F,29,Right leg bitten,20h00,Bull shark
3,15 Jan-2024,2024.0,Unprovoked,BAHAMAS,Paradise Island,Paradise Island Resort,Swimming,M,10,Right leg injured,16h00,NaN
4,09-Jan-2024,2024.0,Unprovoked,AUSTRALIA,South Australia,"Walkers Beach, Elliston",Surfing,M,64,Leg bitten,13h00,White shark
...,...,...,...,...,...,...,...,...,...,...,...,...
6960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6961,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6962,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6963,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6964,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
import poor_bruce as pb
# clean columns titles --> remove spaces & lower cases
shark_attacks_df=pb.clean_columns_titles(shark_attacks_df)
# drop the null value rows
shark_attacks_df=pb.drop_null_values(shark_attacks_df)
display(shark_attacks_df)

,date,year,type,country,state,location,activity,sex,age,injury,time,species
0,14 Feb-2024,2024.0,Unprovoked,INDIA,Maharashtra,"Vaitarna River, Palghar District",Fishing,M,32,Calf of lower left leg injured,NaN,"Bull shark, 7'"
1,04-Feb-2024,2024.0,Provoked,TRINIDAD,NaN,NaN,Spearfishing,M,NaN,Shoulder bitten,06h30,Blacktip reef shark
2,29 Jan-2024,2024.0,Unprovoked,AUSTRALIA,New South Wales,"Elizabeth Bay, Sydney Harbor",Swimming,F,29,Right leg bitten,20h00,Bull shark
3,15 Jan-2024,2024.0,Unprovoked,BAHAMAS,Paradise Island,Paradise Island Resort,Swimming,M,10,Right leg injured,16h00,NaN
4,09-Jan-2024,2024.0,Unprovoked,AUSTRALIA,South Australia,"Walkers Beach, Elliston",Surfing,M,64,Leg bitten,13h00,White shark
...,...,...,...,...,...,...,...,...,...,...,...,...
6935,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,M,NaN,FATAL,NaN,NaN
6936,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,M,NaN,FATAL,NaN,NaN
6937,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,M,NaN,FATAL,NaN,NaN
6938,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,M,NaN,FATAL,NaN,NaN
6939,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,M,15,"FATAL. ""Shark bit him in half, carrying away t...",NaN,NaN

In [3]:
# format column year
shark_attacks_df[shark_attacks_df['year'].isnull()]  # display all rows with null values
shark_attacks_df.loc[797] = shark_attacks_df.loc[797].fillna(value=2017)  # Replace NaN in the specified row with whatever value you desire
shark_attacks_df[['year']]=shark_attacks_df[['year']].fillna(0).astype(int)

In [ ]:
###FIXING Countries
# ! pip install dataprep ##NEED INSTALL
from dataprep.clean import clean_country
df_cleaned = clean_country(shark_attacks_df,"Country") ##it add a new column called "Country_clean" is has some Nan values that we will drop
df_cleaned = df_cleaned.dropna(subset=["Country_clean"]) # we drop the NAN
df_cleaned["Country_clean"] = df_cleaned["Country_clean"].str.lower() #Set the elemùents to lower case

In [ ]:
##The list coountries I found online and I use it to match what we have in the Country_clean column
##after some playing around the lists match except for one value netherlands antilles
countries = ['afghanistan', 'aland islands', 'albania', 'algeria', 'american samoa', 'andorra', 'angola', 'anguilla', 'antarctica', 'antigua and barbuda', 'argentina', 'armenia', 'aruba', 'australia', 'austria', 'azerbaijan', 'bahamas', 'bahrain', 'bangladesh', 'barbados', 'belarus', 'belgium', 'belize', 'benin', 'bermuda', 'bhutan', 'bolivia (plurinational state of)', 'bonaire, sint eustatius and saba', 'bosnia and herzegovina', 'botswana', 'bouvet island', 'brazil', 'british indian ocean territory (the)', 'brunei darussalam', 'bulgaria', 'burkina faso', 'burundi', 'cabo verde', 'cambodia', 'cameroon', 'canada', 'cayman islands', 'central african republic (the)', 'chad', 'chile', 'china', 'christmas island', 'cocos (keeling) islands (the)', 'colombia', 'comoros', 'congo (the democratic republic of the)', 'congo (the)', 'cook islands', 'costa rica', "cote d'ivoire", 'croatia', 'cuba', 'curacao', 'cyprus', 'czechia', 'denmark', 'djibouti', 'dominica', 'dominican republic', 'ecuador', 'egypt', 'el salvador', 'equatorial guinea', 'eritrea', 'estonia', 'ethiopia', 'falkland islands', 'faroe islands (the)', 'fiji', 'finland', 'france', 'french guiana', 'french polynesia', 'french southern territories (the)', 'gabon', 'gambia (the)', 'georgia', 'germany', 'ghana', 'gibraltar', 'greece', 'greenland', 'grenada', 'guadeloupe', 'guam', 'guatemala', 'guernsey', 'guinea', 'guinea-bissau', 'guyana', 'haiti', 'heard island and mcdonald islands', 'holy see (the)', 'honduras', 'hong kong', 'hungary', 'iceland', 'india', 'indonesia', 'iran', 'iraq', 'ireland', 'isle of man', 'israel', 'italy', 'jamaica', 'japan', 'jersey', 'jordan', 'kazakhstan', 'kenya', 'kiribati', "korea (the democratic people's republic of)", 'south korea', 'kuwait', 'kyrgyzstan', "lao people's democratic republic (the)", 'latvia', 'lebanon', 'lesotho', 'liberia', 'libya', 'liechtenstein', 'lithuania', 'luxembourg', 'macao', 'macedonia (the former yugoslav republic of)', 'madagascar', 'malawi', 'malaysia', 'maldives', 'mali', 'malta', 'marshall islands', 'martinique', 'mauritania', 'mauritius', 'mayotte', 'mexico', 'micronesia, fed. sts.', 'moldova (the republic of)', 'monaco', 'mongolia', 'montenegro', 'montserrat', 'morocco', 'mozambique', 'myanmar', 'namibia', 'nauru', 'nepal', 'netherlands (the)', 'new caledonia', 'new zealand', 'nicaragua', 'niger (the)', 'nigeria', 'niue', 'norfolk island', 'northern mariana islands', 'norway', 'oman', 'pakistan', 'palau', 'palestine, state of', 'panama', 'papua new guinea', 'paraguay', 'peru', 'philippines', 'pitcairn', 'poland', 'portugal', 'puerto rico', 'qatar', 'reunion', 'romania', 'russia', 'rwanda', 'saint barthelemy', 'palestine', 'st. helena', 'ascension and tristan da cunha', 'st. kitts and nevis', 'saint lucia', 'saint-martin', 'saint pierre and miquelon', 'saint vincent and the grenadines', 'samoa', 'san marino', 'sao tome and principe', 'saudi arabia', 'senegal', 'serbia', 'seychelles', 'sierra leone', 'singapore', 'sint maarten (dutch part)', 'slovakia', 'slovenia', 'solomon islands', 'somalia', 'south africa', 'south georgia and the south sandwich islands', 'south sudan', 'spain', 'sri lanka', 'sudan', 'suriname', 'svalbard and jan mayen', 'swaziland', 'sweden', 'switzerland', 'syria', 'taiwan', 'tajikistan', 'tanzania', 'thailand', 'timor-leste', 'togo', 'tokelau', 'tonga', 'trinidad and tobago', 'tunisia', 'turkey', 'turkmenistan', 'turks and caicos islands', 'tuvalu', 'uganda', 'ukraine', 'united arab emirates', 'united kingdom', 'united states minor outlying islands (the)', 'united states', 'uruguay', 'uzbekistan', 'vanuatu', 'venezuela', 'vietnam', 'british virgin islands', 'virgin islands (u.s.)', 'wallis and futuna', 'western sahara*', 'yemen', 'zambia', 'zimbabwe']
not_country = []
for element in df_cleaned["Country_clean"]:
    if element not in countries:
        if element not in not_country:
            not_country.append(element)
print(not_country)

In [ ]:
df_cleaned = df_cleaned.dropna(subset=["Country_clean"])
df_cleaned["Country_clean"].nunique()
#there are still 225 unique values in the column

In [4]:
# .copy() to create a new DataFrame
filtered_df=shark_attacks_df.copy()

# filter years before 2010
filtered_df = filtered_df.loc[filtered_df['year'] > 2009]
display(filtered_df)

,date,year,type,country,state,location,activity,sex,age,injury,time,species
0,14 Feb-2024,2024,Unprovoked,INDIA,Maharashtra,"Vaitarna River, Palghar District",Fishing,M,32,Calf of lower left leg injured,NaN,"Bull shark, 7'"
1,04-Feb-2024,2024,Provoked,TRINIDAD,NaN,NaN,Spearfishing,M,NaN,Shoulder bitten,06h30,Blacktip reef shark
2,29 Jan-2024,2024,Unprovoked,AUSTRALIA,New South Wales,"Elizabeth Bay, Sydney Harbor",Swimming,F,29,Right leg bitten,20h00,Bull shark
3,15 Jan-2024,2024,Unprovoked,BAHAMAS,Paradise Island,Paradise Island Resort,Swimming,M,10,Right leg injured,16h00,NaN
4,09-Jan-2024,2024,Unprovoked,AUSTRALIA,South Australia,"Walkers Beach, Elliston",Surfing,M,64,Leg bitten,13h00,White shark
...,...,...,...,...,...,...,...,...,...,...,...,...
1663,09-Jan-2010,2010,Unprovoked,VIETNAM,Binh Dinh Province,Quy Nhon,NaN,F,NaN,Minor injuries,NaN,NaN
1664,09-Jan-2010,2010,Unprovoked,VIETNAM,Binh Dinh Province,Quy Nhon,NaN,M,NaN,Right wrist bitten,17h00,NaN
1665,09-Jan-2010,2010,Unprovoked,VIETNAM,Binh Dinh Province,Quy Nhon,Bathing,M,NaN,Left arm bitten twice,06h45,NaN
1666,06-Jan-2010,2010,Unprovoked,USA,Florida,Elliot Key,Spearfishing,M,32,Lacerations to arm,10h15,NaN
1667,05-Jan-2010,2010,Unprovoked,SOUTH AFRICA,Eastern Province,"Nahoon, East London",Surfing,M,NaN,"No injury, reportedly knocked of his board by ...",NaN,NaN

In [5]:
# check null values left

filtered_df['time'].value_counts()

time
Afternoon    72
15h00        56
Morning      50
11h00        48
16h00        46
             ..
16h15         1
"Evening"     1
12h58         1
15h59         1
15h44         1
Name: count, Length: 236, dtype: int64

In [7]:
# format column date
filtered_df['date']=filtered_df['date'].str.replace(" ","-").str.replace("-","")
# drop all rows where date contains string "Reported"
filtered_df = filtered_df[~filtered_df['date'].str.contains("Reported")]

# extract only the months
def extract_month(date):
    import re
    # Use regex to extract only the letters
    letters_only = re.findall("[a-zA-Z]+", date)
    # Join the extracted letters into a single string
    month = ''.join(letters_only)
    return month
filtered_df['month']=filtered_df['date'].apply(extract_month)

def check_season(month): 
    q1=['Jan','Feb','Mar']
    q2=['Apr','May','Jun']
    q3=['Jul','Aug','Sep']
    q4=['Oct','Nov','Dec']
    if month in q1:
        season='q1'
    elif month in q2:
        season='q2'
    elif month in q3:
        season='q3'
    elif month in q4:
        season='q4'
    else:
        season="not sure"
    return season
filtered_df['season']=filtered_df['month'].apply(check_season)

In [8]:
# format column sex
filtered_df[['sex']]=filtered_df[['sex']].fillna("N")
filtered_df['sex']=filtered_df['sex'].str.replace(" ","")

In [10]:

def set_time_group(x):
    if x <=6:
# == [7,8,9,10,11,12]
        return 'Night'
    elif x <=12:
# ==[13,14,15,16,17,18]
        return 'Morning'
    elif x <= 18:
#  [19,20,21,22,23,00]
        return 'Afternoon'
    elif x <=23 :
# [1,2,3,4,5,6]
        return 'Evening'
    else:
        return x


filtered_df["time"].value_counts().sort_values(ascending=False)
filtered_df["time"] = filtered_df["time"].str.strip()

filtered_df["time"] = filtered_df["time"].str.replace('[^a-zA-Z0-9 ]', '', regex=True)

filtered_df= filtered_df.fillna("25")


filtered_df["time_split"] = filtered_df["time"].str.split('h')

filtered_df["time_split_h"] = filtered_df['time_split'].apply(lambda x:x[0])

filtered_df['time_split_h'] = filtered_df['time_split_h'].replace('1600',"16")
filtered_df['time_split_h'] = filtered_df['time_split_h'].replace('0500',"5")
filtered_df['time_split_h'] = filtered_df['time_split_h'].replace('0830',"8")

filtered_df['time_split_h_int'] = filtered_df['time_split_h'].apply(lambda x:int(x) if str(x).isdigit() else 26)
filtered_df

filtered_df['time_group'] = filtered_df['time_split_h_int'].apply(set_time_group)

filtered_df['time_group'].value_counts()

time_group
Afternoon    506
Morning      438
25           400
26           172
Evening       48
Night         31
Name: count, dtype: int64

In [ ]:
# format column age

# filtered_df['age'] = pd.to_numeric(filtered_df['age'], errors='coerce')
# median_age = filtered_df['age'].median()  # Calculate the median age
# filtered_df['age'].fillna(median_age, inplace=True)
# filtered_df[['age']]=filtered_df[['age']].astype(int)

In [ ]:
filtered_df['sex'].isnull().sum()

In [ ]:
filtered_df

In [ ]:
filtered_df['age'].value_counts().tail(30)

In [ ]:
# count of each season
# filtered_df[filtered_df['season'] != 'not sure']
season_count=filtered_df.groupby(['season'])['season'].count().reset_index(name='count')
display(season_count)

In [ ]:
filtered_df['location'].value_counts().head()

In [ ]:
filtered_df.to_excel('output.xlsx', index=False)